@import "~src/styles/styles";

.instruction {
  text-align: center;
  padding-top: 50px;
}

form {
  padding: 0 10%;
  margin-top: 2%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;

  label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .form-control {
    margin-bottom: 10px;
  }

  button {
    background: $accent;
    font-weight: bold;
    font-size: 20px;

    &[disabled] {
        cursor: not-allowed;
    }
  }
}

.contact-opacity {
  opacity: 0.1;
  background-image: url($img_prefix + "background/keyboard.jpg");
  width: 100%;
  height: 100%;
  top: 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.alert-danger {
  color: red;
  text-align: left;
  padding: 0 0 10px 0;
  font-weight: bold;
}

#thank-you-message {
  position: relative;
  border-radius: 5px;
  margin: 20px 20%;
  font-weight: 600;
  border: 2px solid $blue;
  padding: 10px;
  background: white;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &.visible {
    opacity: 0.8;
  }
}
